<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<link href="../public/stylesheets/simple-sidebar.css" rel="stylesheet">

	<style>
	div.sidebar-heading {
	  text-align: center;
	}

	div.centerize {
		align-items: center;
	}
	</style>
</head>

<body>

	<div class="d-flex" id="wrapper">

		<!-- Sidebar -->
			<div class="bg-light border-right" id="sidebar-wrapper">
				<div class="sidebar-heading">
					<img src="../public/images/logo.png" alt="GamePlan Logo" height="75" width="75">
					<br>
					<h3>GamePlan</h3>
				</div>
				<div class="list-group list-group-flush">
					<a href="../views/dashboard.html" class="list-group-item list-group-item-action">Home</a>
					<a href="../views/settings.html" class="list-group-item list-group-item-action">Account Settings</a>
				</div>
			</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<!-- Top Header Navbar -->
		<div id="page-content-wrapper">
			<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					<button type="button" class="btn btn-outline-danger">Log Out</button>
				</ul>
			</nav>
			
			<!-- Content Heading -->
			<div class="container-fluid">
				<h1 class="mt-4">Nima Moayedi</h1>
			</div>
			
			<!-- Content -->
			<div class="container-fluid">
				<!-- Patient Photo -->
				<div class="row">
					<div class="col-2">
						<img src="../public/images/samplepatient1.jpg" height="200" width="200">
					</div>
					
				<!-- Patient Basic Details -->
				<div class="col-3 border rounded">
					<h4>Patient Details</h4>
					<hr>
					<p>Age:</p>
					<p>Address:</p>
					<p>Phone Number:</p>
				</div>

				<!-- Patient Prescriptions -->
				<div class="col-4 border rounded">
					<form>
						<div class="form-group">
							<label for="exampleFormControlTextarea1"><h4>Prescriptions</h4></label>
								<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
						</div>
					</form>
				</div>
					
				</div>
				
				<br>
				
				<!-- Patient SOAPE Notes Column -->
				<div class="row">
					<div class="col-5 border rounded">
						<h4>SOAPE Notes</h4>
						<div class="input-group">
						  <div class="input-group-prepend">
							<span class="input-group-text">Subjective</span>
						  </div>
						  <textarea class="form-control" aria-label="Subjective"></textarea>
						</div>
						<br>
						
						<div class="input-group">
						  <div class="input-group-prepend">
							<span class="input-group-text">Objective</span>
						  </div>
						  <textarea class="form-control" aria-label="Objective"></textarea>
						</div>
						<br>
						
						<div class="input-group">
						  <div class="input-group-prepend">
							<span class="input-group-text">Assessment</span>
						  </div>
						  <textarea class="form-control" aria-label="Assessment"></textarea>
						</div>
						<br>
						
						<div class="input-group">
						  <div class="input-group-prepend">
							<span class="input-group-text">Plan of Care</span>
						  </div>
						  <textarea class="form-control" aria-label="Plan of Care"></textarea>
						</div>
						<br>
						
						<div class="input-group">
						  <div class="input-group-prepend">
							<span class="input-group-text">Evaluation</span>
						  </div>
						  <textarea class="form-control" aria-label="Evaluation"></textarea>
						</div>
						<br>
						
						<button type="button" class="btn btn-primary btn-lg btn-block">Save</button>
						<br>
						
					</div>
				</div>
				
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>

	<!-- /#wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
