<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="form-group">
        <label for=""><b>Family Doctor:</b></label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <label for="">Phone:</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <label for="">Fax:</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      </div>
      <div class="form-group">
            <label for=""><b>Family Dentist:</b></label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            <label for="">Phone:</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            <label for="">Fax:</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      </div>
      <div class="form-check">
        <label class="form-check-label">Does your child wear?:<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
          glasses<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
          contacts<br>
        </label>
        </div>
      <div class="form-check">
        <label class="form-check-label">For?:<br>
            <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
            reading<br>
            <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
            all the time<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
            classroom<br>
          </label>
      </div>
      <div class="form-group">
        <label for="">Date of last physical:</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">(mm/dd/yyyy)</small>
        <label for="">Doctor:</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <label for="">Reason:</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      </div>
      <div class="form-group">
            <label for="">Date of last dental exam:</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">(mm/dd/yyyy)</small>
      </div>
      <div class="form-group">
            <label for="">Date of last vision exam:</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">(mm/dd/yyyy)</small>
      </div>
      <div class="form-group">
            <label for="">Date of last hearing exam (if any):</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">(mm/dd/yyyy)</small>
      </div>
      <div class="form-group">
            <label for="">Last orthodontic appointment (if any):</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">(mm/dd/yyyy)</small>
      </div>
      <div class="form-group">
            <label for="">Orthodontic care needed (if any):</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      </div>
      <div class="form-group">
            <label for="">Please list any surgeries, serious illness and hospital or psychiatric hospital stays. Please include date/event:</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      </div>
      <div class="form-group">
            <label for="">Please list any prescription and/or over-the-counter medications your child is currently taking and the reasons for each (include dosage, prescribing physician/phone):</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      </div>
      <div class="form-check">
          <label class="form-check-label">Are there any known side effects of the medication for your child?<br>
          <input type="radio" class="form-check-input" name="sideeffects" id="" value="checkedValue" checked>
          Yes<br>
          <input type="radio" class="form-check-input" name="sideeffects" id="" value="checkedValue" checked>
          No<br>
        </label>
      </div>
      <div class="form-group">
        <label for="">If yes, please describe:</label>
        <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="">Please describe previous history of medications: (include name of medication, dosage, reason, prescribing physician)</label>
        <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>
      <div class="form-check">
            <label class="form-check-label">Is your child currently taking any vitamins or supplements?<br>
            <input type="radio" class="form-check-input" name="vitamins" id="" value="checkedValue" checked>
            Yes<br>
            <input type="radio" class="form-check-input" name="vitamins" id="" value="checkedValue" checked>
            No<br>
          </label>
      </div>
      <div class="form-group">
            <label for="">If yes, please describe:</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
        </div>
      <div class="form-check">
            <label class="form-check-label">Does your child currently get exercise?<br>
            <input type="radio" class="form-check-input" name="exercise?" id="" value="checkedValue" checked>
            Yes<br>
            <input type="radio" class="form-check-input" name="exercise?" id="" value="checkedValue" checked>
            No<br>
          </label>
        </div>
      <div class="form-group">
            <label for="">If yes, please describe physical activities which indicate current fitness level:</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
        </div>
      <div class="form-group">
            <label for="">Describe any pterinent medical/physical information that might inhibit physical activity:</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
        </div>
      <div class="form-check">
                <label class="form-check-label">Does your child have any dietary restrictions?<br>
                <input type="radio" class="form-check-input" name="diet" id="" value="checkedValue" checked>
                Yes<br>
                <input type="radio" class="form-check-input" name="diet" id="" value="checkedValue" checked>
                No<br>
              </label>
        </div>
        <div class="form-group">
                <label for="">If yes, please describe (include any non-allergy related dietary requests/preferences):</label>
                <textarea class="form-control" name="" id="" rows="3"></textarea>
            </div>
      <div class="form-check">
        <label class="form-check-label">Does your child currently have or ever had any of the following? (check box if yes):<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue">
          Allergies<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue">
          Anaphylactic Shock<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Anemia<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Ankle problem<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Anorexia/bulimia<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Appendicitis<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Arm problem<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Arthritis<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Asthma<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Back problems<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Bedwetting<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Bladder/kidney problems/infections<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Bleeding disorder<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Bone condition<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Bowel problems<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Broken bones<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Cancer<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Chest pains<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Chronic cough<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Circulation issues<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Cold-frequent<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Constipation<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Cysts/Tumors<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Dermatitis<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Diabetes I & II<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Diarrhea<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Difficulty walking or lifting<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Ear infections<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Endocrin problems<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Excessive sweating<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Fainting/dizziness<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Family history of heart disease<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Foot problem<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Frequent colds/sore throats<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Frequent heartburn<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Frequent muscle cramps<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Frequent shortness of breath<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Frostbite<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Gas/bloating<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          HIV/AIDS<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Head traumas<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Allergies<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Headaches/migraines<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Hearing impairment<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Heart problems/murmurs<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Hepatitis A B C<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Hernia<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          High blood pressure<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Hypoglycemia<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Intolerance to cold<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Intolerance to heat, overheats easily<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Irregular heartbeat<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Joint injuries<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Kidney problems<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Knee problem<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Leg problem<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Liver problems<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Lung infections<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Medical equipment or devices<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Meningitis<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Menstrual Problems/heavy bleeding<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Mononucleosis<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Motion sickness<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Obesity<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Other<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          PMS-Sever Symptoms<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Pneumonia/bronchitis<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Pregnancy<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Recurrent injury/surgery<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          STDs<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Scoliosis<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Seizures, epilepsy<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Shoulder problem<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Skin diseases/problems<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Sleepwalking<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          TB - positive test<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          TB - recent exposure<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          TB - Tuberculosis<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Thyroid problems<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Ulcers<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Unexpected weight loss/gain<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Urination problem<br>
        </label>
      </div>
      <div class="form-group">
        <label for="">Please describe in detail any checked items - please include: Specific symptoms; frequency / duration of symptomps; date of last occurance; care required for each occurrence; how symptom/condition restricts physical activity; if pregnant list due date:</label>
        <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>

      <div class="form-row col">
        <a href="../views/registration11.html" style="width:10%; text-align:center; margin-right:3%;" class="list-group-item list-group-item-action active" id="previousPage">Previous</a>
        <a href="../views/registration13.html" style="width:10%; text-align:center;" class="list-group-item list-group-item-action active" id="nextPage">Next</a>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
