<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="form-check">
          <label class="form-check-label"><b>Mood Issues:</b> Does your child exhibit signs of anxiety, depression, mood swings, etc.?<br>
          <input type="radio" class="form-check-input" name="mood" id="" value="checkedValue" >
          Yes<br>
          <input type="radio" class="form-check-input" name="mood" id="" value="checkedValue" >
          No<br>
        </label>
      </div>
      <div class="form-group">
        <label for="">If yes, please describe:</label>
        <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>
      <div class="form-check">
            <label class="form-check-label"><b>Obsessions/Compulsions:</b> Does your child experience recurrent thoughts or repeated behaviors that he/she cannot control?<br>
            <input type="radio" class="form-check-input" name="ocd" id="" value="checkedValue" >
            Yes<br>
            <input type="radio" class="form-check-input" name="ocd" id="" value="checkedValue" >
            No<br>
          </label>
      </div>
      <div class="form-group">
            <label for="">If yes, please describe in detal including dates:</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>
      <div class="form-check">
            <label class="form-check-label"><b>Lying, stealing, vandalism, dealing drugs, criminal activity:</b><br>
            <input type="radio" class="form-check-input" name="crime" id="" value="checkedValue" >
            Yes<br>
            <input type="radio" class="form-check-input" name="crime" id="" value="checkedValue" >
            No<br>
          </label>
      </div>
      <div class="form-group">
            <label for="">If yes, please describe in detal including dates:</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>
      <div class="form-check">
        <label class="form-check-label"><b>Unusual Behaviors:</b> Please check all that apply:<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Delusions<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Hallucinations<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Paranoid Thinking<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Nightmares<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Tics<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Stuttering<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Bedwetting<br>
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
          Head Banging<br>
        </label>
      </div>
      <div class="form-group">
            <label for="">Please describe in detal including dates:</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>
      <div class="form-check">
            <label class="form-check-label"><b>Eating issues (current or past):</b><br>
            <input type="radio" class="form-check-input" name="eating" id="" value="checkedValue" >
            Yes<br>
            <input type="radio" class="form-check-input" name="eating" id="" value="checkedValue" >
            No<br>
          </label>
      </div>
      <div class="form-group">
            <label for="">If yes, please describe in detal including dates:</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>
      <div class="form-check">
            <label class="form-check-label"><b>Isolation:</b> Does your child have problems with isolation?<br>
            <input type="radio" class="form-check-input" name="isolation" id="" value="checkedValue" >
            Yes<br>
            <input type="radio" class="form-check-input" name="isolation" id="" value="checkedValue" >
            No<br>
          </label>
      </div>
      <div class="form-group">
            <label for="">If yes, please describe in detal including dates:</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>

      <div class="form-row col">
        <a href="../views/registration9.html" style="width:10%; text-align:center; margin-right:3%;" class="list-group-item list-group-item-action active" id="previousPage">Previous</a>
        <a href="../views/registration11.html" style="width:10%; text-align:center;" class="list-group-item list-group-item-action active" id="nextPage">Next</a>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
