<!doctype html>
<html lang="en">
  <head>
    <title>Gameplan Reg. 6</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
        <div class="jumbotron text-center">
        <h1>GamePlan Application</h1>
        <p>Please enter your information in the fields below</p>
        </div>

        <div>Please include the name and location of each school attended</div>

        <div class="col-6">
            <label><b>Elementary 1</b></label>
            <input type="text" class="form-control" placeholder="--" name="school1Name" id="school1Name" aria-describedby="helpId">
        </div>

        <form class="form-row col">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="school1PubPriv" id="school1PubPriv" value="public"> Public
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="school1PubPriv" id="school1PubPriv" value="private"> Private
                </label>
            </div>
        </form>

        <div class="col-6">
            <label>Student's strengths</label>
            <input type="text" class="form-control" placeholder="--" name="school1Strengths" id="school1Strengths" aria-describedby="helpId">
        </div>

        <div class="col-6">
            <label>Challenges</label>
            <input type="text" class="form-control" placeholder="--" name="school1Challenges" id="school1Challenges" aria-describedby="helpId">
        </div>

        <div class="col-6">
            <label><b>Elementary 2</b></label>
            <input type="text" class="form-control" placeholder="--" name="school2Name" id="school2Name" aria-describedby="helpId">
        </div>

        <form class="form-row col">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="school2PubPriv" id="school2PubPriv" value="public"> Public
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="school2PubPriv" id="school2PubPriv" value="private"> Private
                </label>
            </div>
        </form>

        <div class="col-6">
            <label>Student's strengths</label>
            <input type="text" class="form-control" placeholder="--" name="school2Strengths" id="school2Strengths" aria-describedby="helpId">
        </div>

        <div class="col-6">
            <label>Challenges</label>
            <input type="text" class="form-control" placeholder="--" name="school2Challenges" id="school2Challenges" aria-describedby="helpId">
        </div>

        <div class="col-6">
            <label><b>Middle School 1</b></label>
            <input type="text" class="form-control" placeholder="--" name="school3Name" id="school3Name" aria-describedby="helpId">
        </div>

        <form class="form-row col">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="school3PubPriv" id="school3PubPriv" value="public"> Public
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="school3PubPriv" id="school3PubPriv" value="private"> Private
                </label>
            </div>
        </form>

        <div class="col-6">
            <label>Student's strengths</label>
            <input type="text" class="form-control" placeholder="--" name="school3Strengths" id="school3Strengths" aria-describedby="helpId">
        </div>

        <div class="col-6">
            <label>Challenges</label>
            <input type="text" class="form-control" placeholder="--" name="school3Challenges" id="school3Challenges" aria-describedby="helpId">
        </div>

        <div class="col-6">
            <label><b>Middle School 2</b></label>
            <input type="text" class="form-control" placeholder="--" name="school4Name" id="school4Name" aria-describedby="helpId">
        </div>

        <form class="form-row col">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="school4PubPriv" id="school4PubPriv" value="public"> Public
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="school4PubPriv" id="school4PubPriv" value="private"> Private
                </label>
            </div>
        </form>

        <div class="col-6">
            <label>Student's strengths</label>
            <input type="text" class="form-control" placeholder="--" name="school4Strengths" id="school4Strengths" aria-describedby="helpId">
        </div>

        <div class="col-6">
            <label>Challenges</label>
            <input type="text" class="form-control" placeholder="--" name="school4Challenges" id="school4Challenges" aria-describedby="helpId">
        </div>

        <div class="col-6">
            <label><b>High School 1</b></label>
            <input type="text" class="form-control" placeholder="--" name="school5Name" id="school5Name" aria-describedby="helpId">
        </div>

        <form class="form-row col">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="school5PubPriv" id="school5PubPriv" value="public"> Public
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="school5PubPriv" id="school5PubPriv" value="private"> Private
                </label>
            </div>
        </form>

        <div class="col-6">
            <label>Student's strengths</label>
            <input type="text" class="form-control" placeholder="--" name="school5Strengths" id="school5Strengths" aria-describedby="helpId">
        </div>

        <div class="col-6">
            <label>Challenges</label>
            <input type="text" class="form-control" placeholder="--" name="school5Challenges" id="school5Challenges" aria-describedby="helpId">
        </div>

        <div class="col-6">
            <label><b>High School 2</b></label>
            <input type="text" class="form-control" placeholder="--" name="school6Name" id="school6Name" aria-describedby="helpId">
        </div>

        <form class="form-row col">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="school6PubPriv" id="school6PubPriv" value="public"> Public
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="school6PubPriv" id="school6PubPriv" value="private"> Private
                </label>
            </div>
        </form>

        <div class="col-6">
            <label>Student's strengths</label>
            <input type="text" class="form-control" placeholder="--" name="school6Strengths" id="school6Strengths" aria-describedby="helpId">
        </div>

        <div class="col-6">
            <label>Challenges</label>
            <input type="text" class="form-control" placeholder="--" name="school6Challenges" id="school6Challenges" aria-describedby="helpId">
        </div>

        <form class="form-row col">
            <label>Suspensions/expulsions?</label>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="schoolExpulsions" id="schoolExpulsions" value="n"> No
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="schoolExpulsions" id="schoolExpulsions" value="y"> Yes
                </label>
            </div>
        </form>

        <div class="form-group col-7">
            <label>If yes, give dates and reasons</label>
            <textarea class="form-control" name="expulsionReasons" id="expulsionReasons" rows="3"></textarea>
        </div>

        <form class="form-row col">
            <label>Academic/Intellectual Tests</label>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="intellectTestRadio" id="intellectTestRadio" value="n"> No
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="intellectTestRadio" id="intellectTestRadio" value="y"> Yes
                </label>
            </div>
        </form>

        <label>If yes, please describe all tests (include Name/Type of Test, Date Given, Contact Phone)</label>
        <div class="col-6">
            <input type="text" class="form-control" placeholder="--" name="intellectTest1" id="intellectTest1" aria-describedby="helpId">
        </div>
        <div class="col-6">
            <input type="text" class="form-control" placeholder="--" name="intellectTest2" id="intellectTest2" aria-describedby="helpId">
        </div>
        <div class="col-6">
            <input type="text" class="form-control" placeholder="--" name="intellectTest3" id="intellectTest3" aria-describedby="helpId">
        </div>

        <div class="alert alert-danger col-6" role="alert">
            <b>Please mail/e-mail a copy of these tests as part of your application</b>
        </div>

        <div class="form-row col">
          <a href="../views/registration5.html" style="width:10%; text-align:center; margin-right:3%;" class="list-group-item list-group-item-action active" id="previousPage">Previous</a>
          <a href="../views/registration7.html" style="width:10%; text-align:center;" class="list-group-item list-group-item-action active" id="nextPage">Next</a>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
