<!doctype html>
<html lang="en">
  <head>
    <title>Gameplan Reg. 4</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
        <div class="jumbotron text-center">
        <h1>GamePlan Application</h1>
        <p>Please enter your information in the fields below</p>
        </div>

        <div class="form-row col">
            <label>Parent's current marital status</label>
            <div class="form-group col-2">
                <select class="custom-select" name="parentMarital" id="parentMarital">
                    <option selected>--</option>
                    <option value="single">Single</option>
                    <option value="married">Married</option>
                    <option value="divorced">Divorced</option>
                    <option value="separated">Separated</option>
                </select>
            </div>
        </div>

        <form class="form-row col">
            <label>If parents have been divorced or separated, please provide the date</label>
            <div class="form-group col-2">
                <input type="text" class="form-control" name="parentSepDate" id="parentSepDate" aria-describedby="helpId" placeholder="MM/DD/YYYY">
            </div>
        </form>

        <div class="form-group col-7">
            <label>How do you believe the divorce/separation has affected your child? Please explain below</label>
            <textarea class="form-control" name="sepAffect" id="sepAffect" rows="3"></textarea>
        </div>

        <div class="form-group col-7">
            <label>Describe the visitation agreement below</label>
            <textarea class="form-control" name="sepAgreement" id="sepAgreement" rows="3"></textarea>
        </div>


        <form class="form-row col">
            <label>Is your child adopted?</label>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="adoptedRadio" id="adoptedRadio" value="n" required> No
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="adoptedRadio" id="adoptedRadio" value="y" required> Yes
                </label>
            </div>
        </form>

        <form class="form-row col">
            <label>If adopted, at what age?</label>
            <div class="form-group col-1">
                <input type="text" class="form-control" name="adoptedAge" id="adoptedAge" aria-describedby="helpId">
            </div>
        </form>

        <div class="form-group col-7">
            <label>Important circumstances surrounding the adoption process or afterwards (including child's current relationship with birth parents, if any)</label>
            <textarea class="form-control" name="adoptedNotes" id="adoptedNotes" rows="3"></textarea>
        </div>

        <form class="form-row col">
            <label>Number of siblings?</label>
            <div class="form-group col-1">
                <input type="text" class="form-control" name="siblingCount" id="siblingCount" aria-describedby="helpId">
            </div>
        </form>

        <div class="form-group col-7">
            <label>Please list Age, Relationship, Current Residence, and Health of each sibling</label>
            <textarea class="form-control" name="siblingHealth" id="siblingHealth" rows="3"></textarea>
        </div>

        <div class="form-group col-7">
            <label>Where was your child born? (include city, state, country, and physical location: hospital, home, etc.)</label>
            <textarea class="form-control" name="birthNotes" id="birthNotes" rows="2"></textarea>
        </div>

        <form class="form-row col">
            <label>Were there any complications during birth mother's pregnancy or delivery?</label>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="complicationRadio" id="complicationRadio" value="n" required> No
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="complicationRadio" id="complicationRadio" value="y" required> Yes
                </label>
            </div>
        </form>

        <div class="form-group col-7">
            <label>If yes, please explain below</label>
            <textarea class="form-control" name="complicationNotes" id="complicationNotes" rows="3"></textarea>
        </div>

        <div class="form-group col-7">
            <label>Does this individual have their own children? If so, please describe the living situation of the individual's children</label>
            <textarea class="form-control" name="childrenSituation" id="childrenSituation" rows="2"></textarea>
        </div>

        <div class="form-row col">
          <a href="../views/registration3.html" style="width:10%; text-align:center; margin-right:3%;" class="list-group-item list-group-item-action active" id="previousPage">Previous</a>
          <a href="../views/registration5.html" style="width:10%; text-align:center;" class="list-group-item list-group-item-action active" id="nextPage">Next</a>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
