<!doctype html>
<html lang="en">
  <head>
    <title>Gameplan Reg. 3</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron text-center">
    <h1>GamePlan Application</h1>
    <p>Please enter your information in the fields below</p>
    </div>

    <div class="form-group col-3">
        <label for="">How did you first hear about Gameplan?</label>
        <input type="text" class="form-control" name="refSource" id="refSource" aria-describedby="helpId" placeholder="--">
    </div>

    <label>Please give the name(s) and contact information of the referral source below.</label>


    <div class="alert alert-dark" role="alert">
        <b>Referral Source 1</b>
    </div>

    <form class="form-row col">
        <label>May we contact this referral source?</label>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="ref1CanContact" id="ref1CanContact" value="y" required> Yes
            </label>
        </div>

        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="ref1CanContact" id="ref1CanContact" value="n" required> No
            </label>
        </div>
    </form>

    <form class="form-row col">
        <div class="form-group col-2">
            <label>First Name</label>
            <input type="text" name="ref1FName" id="ref1FName" class="form-control" placeholder="--" aria-describedby="helpId">
        </div>

        <div class="form-group col-2">
            <label>Last Name</label>
            <input type="text" name="ref1LName" id="ref1LName" class="form-control" placeholder="--" aria-describedby="helpId">
        </div>
    </form>

    <form class="form-row col">
        <div class="form-group col-2">
            <label>Phone</label>
            <input type="text" name="ref1Phone" id="ref1Phone" class="form-control" placeholder="--" aria-describedby="helpId">
        </div>

        <div class="form-group col-2">
            <label>Email</label>
            <input type="text" name="ref1Email" id="ref1Email" class="form-control" placeholder="--" aria-describedby="helpId">
        </div>
    </form>

    <div class="alert alert-dark" role="alert">
        <b>Referral Source 2</b>
    </div>

    <form class="form-row col">
        <label>May we contact this referral source?</label>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="ref2CanContact" id="ref2CanContact" value="y" required> Yes
            </label>
        </div>

        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="ref2CanContact" id="ref2CanContact" value="n" required> No
            </label>
        </div>
    </form>

    <form class="form-row col">
        <div class="form-group col-2">
            <label>First Name</label>
            <input type="text" name="ref2FName" id="ref2FName" class="form-control" placeholder="--" aria-describedby="helpId">
        </div>

        <div class="form-group col-2">
            <label>Last Name</label>
            <input type="text" name="ref2LName" id="ref2LName" class="form-control" placeholder="--" aria-describedby="helpId">
        </div>
    </form>

    <form class="form-row col">
        <div class="form-group col-2">
            <label>Phone</label>
            <input type="text" name="ref2Phone" id="ref2Phone" class="form-control" placeholder="--" aria-describedby="helpId">
        </div>

        <div class="form-group col-2">
            <label>Email</label>
            <input type="text" name="ref2Email" id="ref2Email" class="form-control" placeholder="--" aria-describedby="helpId">
        </div>
    </form>


    <div class="alert alert-dark" role="alert">
        <b>Referral Source 3</b>
    </div>

    <form class="form-row col">
        <label>May we contact this referral source?</label>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="ref3CanContact" id="ref3CanContact" value="y" required> Yes
            </label>
        </div>

        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="ref3CanContact" id="ref3CanContact" value="n" required> No
            </label>
        </div>
    </form>

    <form class="form-row col">
        <div class="form-group col-2">
            <label>First Name</label>
            <input type="text" name="ref3FName" id="ref3FName" class="form-control" placeholder="--" aria-describedby="helpId">
        </div>

        <div class="form-group col-2">
            <label>Last Name</label>
            <input type="text" name="ref3LName" id="ref3LName" class="form-control" placeholder="--" aria-describedby="helpId">
        </div>
    </form>

    <form class="form-row col">
        <div class="form-group col-2">
            <label>Phone</label>
            <input type="text" name="ref3Phone" id="ref3Phone" class="form-control" placeholder="--" aria-describedby="helpId">
        </div>

        <div class="form-group col-2">
            <label>Email</label>
            <input type="text" name="ref3Email" id="ref3Email" class="form-control" placeholder="--" aria-describedby="helpId">
        </div>
    </form>


    <div class="form-group col-7">
        <label><b>Reason for referral:</b>
        Chief complaint and symptoms (please be specific including issues at home and school as well as any symptoms noticed such as mood changes, etc.)</label>
        <textarea class="form-control" name="refReason" id="refReason" rows="3"></textarea>
    </div>

    <div class="form-row col">
      <a href="../views/registration2.html" style="width:10%; text-align:center; margin-right:3%;" class="list-group-item list-group-item-action active" id="previousPage">Previous</a>
      <a href="../views/registration7.html" style="width:10%; text-align:center;" class="list-group-item list-group-item-action active" id="nextPage">Next</a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
