<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="form-group">
        <label for="">Please describe any <b>major events</b> your child has struggled with (divorce, moving, birth of a sibling, loss, death, abuse, illness, etc.) Please include the date the event occurred:</label>
        <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for=""><b>Anger:</b> Describe the way(s) in which your child expresses anger:</label>
        <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>
      <div class="form-check">
          <label class="form-check-label">Has your child had any physical confrontations in the home or with others?<br>
          <input type="radio" class="form-check-input" name="physical" id="" value="checkedValue" >
          Yes<br>
          <input type="radio" class="form-check-input" name="physical" id="" value="checkedValue" >
          No<br>
        </label>
      </div>
      <div class="form-group">
        <label for="">If yes, please describe:</label>
        <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>
      <div class="form-check">
            <label class="form-check-label">Has your child ever intentionally hurt him/herself?<br>
            <input type="radio" class="form-check-input" name="selfharm" id="" value="checkedValue" >
            Yes<br>
            <input type="radio" class="form-check-input" name="selfharm" id="" value="checkedValue" >
            No<br>
          </label>
      </div>
      <div class="form-group">
            <label for="">If yes, please describe (include date/reason):</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>
      <div class="form-check">
            <label class="form-check-label"><b>Running Away: </b>Has your child ever run away?<br>
            <input type="radio" class="form-check-input" name="run" id="" value="checkedValue" >
            Yes<br>
            <input type="radio" class="form-check-input" name="run" id="" value="checkedValue" >
            No<br>
          </label>
      </div>
      <div class="form-group">
            <label for="">If yes, please describe (specify date, how long, where, contacted you?, etc.):</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>
      <div class="form-check">
            <label class="form-check-label"><b>Suicidality: </b>Has your child ever had thoughts of suicide, made a plan, or attempted suicide?<br>
            <input type="radio" class="form-check-input" name="suicide" id="" value="checkedValue" >
            Yes<br>
            <input type="radio" class="form-check-input" name="suicide" id="" value="checkedValue" >
            No<br>
          </label>
      </div>
      <div class="form-group">
            <label for="">If yes, please describe (include date/reason):</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>
      <div class="form-group">
            <label for=""><b>Sexual Behavior: </b> Please describe any risky, aggressive or inappropriate sexual behaviors (promiscuity, unprotected sex, perpetrating, deviance, etc.):</label>
            <textarea class="form-control" name="" id="" rows="3"></textarea>
      </div>

      <div class="form-row col">
        <a href="../views/registration8.html" style="width:10%; text-align:center; margin-right:3%;" class="list-group-item list-group-item-action active" id="previousPage">Previous</a>
        <a href="../views/registration10.html" style="width:10%; text-align:center;" class="list-group-item list-group-item-action active" id="nextPage">Next</a>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
