.nav-link {
	font-family: 'Fredericka the Great', normal;
	color: #221B23;
}
body {
	background-color: #ffe944;
	/*	yellow color is #ffe944*/
}

.footer {
	font-family: 'Raleway', sans-serif;
	background-color: #221b23;
	bottom: 0;
	width: 100%;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	display: flex;
	align-items: center;
}

.footerphone {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 16px;
}

.vertline {
	border-left: 1px solid white;
	height: 45px;
	left: 50%;
	margin-left: -3px;
}

.top-buffer {
	margin-top:20px;
}


loginbody {
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}
.form-signin .checkbox {
	font-weight: 400;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.dashboardbg {
	background-color: #f5f5f5;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

.cardlink {
position: absolute;
top: 0; left: 0;
height: 100%; width: 100%;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}
